@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap");

$olive: #a3bcb6;
$green-leaf: #39603d;
$brown-grey: #3c403d;
$tanly: #daded4;
$white: #ffffff;
$black: #000000;

* {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  font-family: "Heebo", sans-serif;
}

body {
  background-color: $tanly !important;
}

.navbar-brand {
  background-color: $white;
}

.nav-menu {
  background-color: $olive;
  height: 3rem;
  display: flex;
  align-items: center;
  color: $black;
  font-weight: 700;
}

.about-me {
  background-color: #a3bcb6;
  height: 21rem;
  display: flex;
  align-items: center;
  margin: 5rem 0;
  h2 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  p {
    padding: 0 1rem;
  }
}

.section-text {
  background-color: $white;
  h2 {
    font-weight: 800;
  }
  p {
    font-weight: 500;
    font-style: italic;
  }
}

.card-container {
  background-color: $brown-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: 5rem 0.4rem;
  .card {
    border: 2px solid $white;
    padding: 0.4rem 0.8rem;
  }
}
